:root {
    --punk-cyan: #00ffcc;
    --punk-green: #00ff37;
    --glass-cyan: rgba(0, 255, 255, 0.3);
    --punk-pink: #ff007f;
    --bg-black: #021016;
    --white: #ffffff;
}

body {
    background-color: var(--bg-black);
    color: var(--white);
    font-family: 'Courier New', monospace;
    text-align: center;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header {
    min-height: 50px;
}

#container {
    width: 100%;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.flashcard {
    width: 500px;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s ease-in-out;
    cursor: pointer;
    perspective: 1000px; /* Adiciona profundidade para o efeito 3D */
}

.flashcard.flip {
    transform: rotateY(180deg); /* Faz o flip total */
}

.cartao-pergunta,
.cartao-resposta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    backface-visibility: hidden; /* Garante que o verso não apareça */
}

.cartao-pergunta {
    background-color: var(--punk-cyan);
    color: var(--bg-black);
    flex-direction: column;
}

.cartao-pergunta h3 {
    margin-bottom: 10px;
    text-align: center;
}

.cartao-resposta {
    background-color: var(--punk-pink);
    color: var(--white);
    transform: rotateY(180deg); /* Deixa a resposta invertida inicialmente */
}

.flashcard.flip .cartao-resposta {
    transform: rotateY(0deg); /* Quando virar, a resposta aparece */
}

.flashcard.flip .cartao-pergunta {
    transform: rotateY(180deg); /* Quando virar, a pergunta some */
}